.logo-image {
    background-image: url(../../bolt.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    outline: none;
}
  
  .app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
  
  #writing {
    margin-top: 20px;
  }

.invoice-container {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-center {
  width: 60%;
}

.card-center>mat-card-title {
  text-align: center;
}

.btn-block {
  width: 20%;
  text-align: center;
  margin-top: 1em;
}

.mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: rgb(39, 34, 36);
  color: #FFC107;
  font-size: 17px;
}

.mat-stroked-button:hover {
  background: #FFC107;
  color: black;
  text-decoration: none;
}
